@font-face {
  font-family: 'BodoniPosterCompressedDBBold';
  src: url('/assets/fonts/bodonipostercompressed-bold_db-webfont.eot');
  src: url('/assets/fonts/bodonipostercompressed-bold_db-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/bodonipostercompressed-bold_db-webfont.woff') format('woff'),
  url('/assets/fonts/bodonipostercompressed-bold_db-webfont.ttf') format('truetype'),
  url('/assets/fonts/bodonipostercompressed-bold_db-webfont.svg#BodoniPosterCompressedDBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
$a11y-size: 48px;
$transition-base: all 100ms ease-in-out;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: black;
  color: whitesmoke;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'BodoniPosterCompressedDBBold';
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0.3em 0;
  font-weight: normal;
  letter-spacing: 0.01em;
  text-align: center;
}

h1 {
  font-size: 8rem;
  margin: 0.1em 0;
}

h1 a {
  text-decoration: none;
}

h2 {
  font-size: 4rem;
}

h2 a {
  text-decoration: none;
}

h3 {
  font-size: 3rem;
}

@media (min-width: 640px) {
  h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 5rem;
  }
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
}

a:not([class]) {
  position: relative;
  display: inline-block;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  border: 1px dotted transparent;
  border-radius: 0.25em;


  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: $a11y-size;
    min-width: $a11y-size;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%)
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    border-color: currentColor;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.bg-image {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}

.c-wrapper {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0 1rem;
  width: 70ch;
  max-width: 100%;
}

.c-logo {
  width: 100%;
  height: auto;
  padding: 2rem 0;
}

.u-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.u-umbrella {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

section {
  display: block;
  margin-bottom: 6rem;
}

.track-list-column {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

@import 'components/buttons';
@import 'components/shows';
@import 'components/news';
//@import 'components/merch';
@import 'components/socials';
@import 'components/videos';
@import 'components/pressQuotes';
