.c-shows__list {
  list-style-type: none;
  padding: 0;
}

.c-shows__item:not(:last-child) {
  margin-bottom: 1rem;
}

.c-show {
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: table;
  padding: 1rem;
}

.c-show__date {
  display: block;
}

.c-show__title {
  margin: 0.455rem 0;
}

.c-show__link {
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:focus::after {
    border-color: currentColor;
  }

  &::after {
    border-radius: 0.25em;
    border: 1px dotted transparent;
  }
}

.c-show__location {
  margin-top: -3px;
}
