.c-socials {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1rem;
}

.c-socials__item {
  padding: 0 0 1rem 1rem;

  @media (any-hover: hover) {
   padding-left: 0.75rem;
  }
}
